.App {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: none;
  outline: none;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 1.2;
}
