.card {
  display: flex;
  flex-direction: column;
  flex-wrap: 33.33%;
  max-width: 300px;
  padding: 20px 20px 57px;
  border: 1px solid #fff;
  contain: content;
}

.card-aux {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  color: #535665;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
