.header{
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;
}
